.books-list {
    margin: 20px;
}

.books-list .header {
    background-color: black;
    color: #ccc;
    font-weight: bold;
    text-align: center;
}

.books-list div.row div {
    padding: 10px;
}

.books-list .name,
.books-list .author {
    border-top: 1px solid black;
}

.books-list .author {
    position: relative;
}

.books-list .name:hover {
    color: #777;
}

.books-list .remove,
.books-list .modify {
    cursor: pointer;
    color: #ddd;
}

.books-list .remove {
    position: absolute;
    right: 10px;
}

.books-list .modify {
    position: absolute;
    right: 65px;
}

.books-list .remove:hover,
.books-list .modify:hover {
    text-decoration: none;
    color: black;
}

.books-list .description {
    display: none;
    border-top: 1px dashed #ccc;
}

.books-list .description::first-letter {
    font-size: 150%;
    color: sienna;
}

#add_book {
    margin-top: 20px;
}

#add_book .form-wrapper {
    display: none;
}

#modify_book {
    display: none;
    margin-top: 20px;
}

form .glyphicon-plus-sign {
    font-size: 80%;
    vertical-align: 0%;
    margin-left: 10px;
    color: #ccc;
}

form .glyphicon-plus-sign:hover {
    color: black;
}

textarea {
    resize: none;
}
